# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
.env
.env.*

# =========================
# Databricks
# =========================
*.dbc
.databricks/
.metastore/

# =========================
# Logs & temp
# =========================
*.log
tmp/
